= render partial: "shared/slider"
= render partial: "shared/nav_2"

.padding
.container-fluid
  .row
    .col-md-3.col-xs-12
      %h2
        Upcoming Events
      - @events.each do |event|
        .card
          .card-body
            %h5
              #{event.title}
            %small.text-muted
              #{event.date_of_event}
            %p
              #{event.description}
          .card-footer
            - if event.external_link.present?
              = link_to event.external_link, target: '_blank' do
                .fa.fa-link
                Link to Event
        %hr
    .col-md-9.col-xs-12
      %h1
        Featured Articles / News / Stories
      %hr
      - if @articles.size == 0
        %p
          No articles found
      - else
        - @articles.each do |article|
          .card
            .card-body
              .row
                .col-sm-3
                  = image_tag article.banner.url, width: "100%", class: "rounded img-fluid"
                  .padding
                .col-sm-9
                  .row
                    .col
                      = link_to refinery.articles_article_path(article) do
                        %h5
                          #{article.title}
                          %small.text-muted
                            %i
                              Published: #{article.published_at.strftime("%B %d, %Y")}
                      %p
                        #{truncate(article.content, length: 150, escape: false)}
                  = link_to refinery.articles_article_path(article) do
                    %small
                      .fa.fa-arrow-right
                      Read More
          .padding

        %hr
        %h5
          = link_to "/articles" do
            .fa.fa-arrow-right
            Read More Articles / News / Stories
        .padding
