%footer.page-footer.font-small.blue.pt-4{ style: "background-color: #e4e4e4; color: #43519a;" }
  .padding
  .container-fluid.text-center.text-md-left
    .row
      .col-md-6.mt-md-0.mt-3
        %h5.text-uppercase
          Office of Research and Creating Work
        %ul
          %li
            = link_to "http://www.ateneo.edu/basic-ed" do
              Basic Education Unit
          %li
            = link_to "http://ateneo.edu/ls" do
              Loyola Schools
          %li
            = link_to "http://ateneo.edu/ls/graduate/graduate-programs" do
              LS Graduate Programs
          %li
            = link_to "http://ateneo.edu/aps" do
              Professional Schools
          %li
            = link_to "http://www.ateneo.edu/central-administration" do
              Administrative Offices
          %li
            = link_to "http://www.ateneo.edu/campus-maps" do
              Campus Map
          %li
            = link_to "http://www.ateneo.edu/ateneo-campus-directory" do
              Directory
      .clearfix.w-100.d-md-none.pb-3
      .col-md-3.mb-md-0.mb-3
        %h5.text-uppercase
          Follow Us On:
        %h3
          = link_to "https://www.facebook.com/ADMU-Office-of-the-Associate-Dean-for-Research-and-Creative-Work-852265461636738/" do
            .fa.fa-facebook-square
          = link_to "https://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=ateneodemanilau" do
            .fa.fa-twitter-square
          = link_to "http://www.youtube.com/user/ateneodemanilau?sub_confirmation=1" do
            .fa.fa-youtube-square
          = link_to "http://instagram.com/theateneo" do
            .fa.fa-instagram
      .clearfix.w-100.d-md-none.pb-3
      .col-md-3.mb-md-0.mb-3
        %h5.text-uppercase
          Other Links
        %ul
          %li
            = link_to "https://ateneo.edu/udpo/ADMU-Privacy-Policies" do
              Privacy Policy
            = link_to "http://www.ateneo.edu/feedback" do
              Contact Us
            = link_to "http://www.ateneo.edu/ucpro" do
              University Communication
            = link_to "http://www.ateneo.edu/careers" do
              Careers
            = link_to "http://www.ateneo.edu/news/emergency-information" do
              Emergency Information
    %hr
    .row
      .col
        %center{ style: "font-size: 0.7em;" }
          Ateneo de Manila University Loyola Heights Campus | Katipunan Avenue, Loyola Heights, Quezon City 1108, Philippines | Copyright #{Date.today.year} | Ateneo de Manila University. All rights reserved.
  .padding
