#modal-loyola-schools.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .modal-body-content
          %h5
            Ateneo de Manila Loyola Schools
          %hr
          .row
            .col-md-6.col-xs-12
              .card.img-fluid
                = image_tag "ls-faura.jpg", class: "card-img-top"
                .card-img-overlay
                  = link_to "/ls/sose" do
                    %center
                      %h4.card-title.card-title-overlay.display-2
                        School of Science and Engineering
            .col-md-6.col-xs-12
              .card.img-fluid
                = image_tag "ls-humanities.jpg", class: "card-img-top"
                .card-img-overlay
                  = link_to "/ls/soh" do
                    %center
                      %h4.card-title.card-title-overlay.display-2
                        School of Humanities
          %hr
          .row
            .col-md-6.col-xs-12
              .card.img-fluid
                = image_tag "ls-som.jpg", class: "card-img-top"
                .card-img-overlay
                  = link_to "/ls/som" do
                    %center
                      %h4.card-title.card-title-overlay.display-2
                        School of Management
            .col-md-6.col-xs-12
              .card.img-fluid
                = image_tag "ls-socsci.jpg", class: "card-img-top"
                .card-img-overlay
                  = link_to "/ls/soss" do
                    %center
                      %h4.card-title.card-title-overlay.display-2
                        School of Social Sciences
