%nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top.main-nav
  .container-fluid
    %a.navbar-brand{ href: "/" }
      = image_tag "logo.png", width: 50
      %span.logo-text
        Ateneo de Manila University
    %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbar-responsive" } }
      %span.navbar-toggler-icon
    #navbar-responsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.dropdown
          = link_to "#", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" } do
            .fa.fa-download
            Downloads
          .dropdown-menu
            = link_to "#", class: "dropdown-item" do
              .fa.fa-file
              Research Manual
            .dropdown-divider
            = link_to "#", class: "dropdown-item" do
              .fa.fa-file
              Compedium
            .dropdown-divider
        %li.nav-item.dropdown
          = link_to "#", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" } do
            .fa.fa-building
            Administrative Bodies
          .dropdown-menu
            = link_to "/about", class: "dropdown-item" do
              .fa.fa-building
              Office of Assoc. Dean for Research and Creative Work
            .dropdown-divider
            = link_to "/urc", class: "dropdown-item" do
              .fa.fa-building
              University Research Council
            .dropdown-divider
            = link_to "#", class: "dropdown-item" do
              .fa.fa-building
              University Research Ethics Office
        %li.nav-item
          = link_to "#", class: "nav-link", data: { toggle: "modal", target: "#modal-loyola-schools" } do
            .fa.fa-building
            Loyola Schools
        %li.nav-item
          = link_to "#", class: "nav-link" do
            .fa.fa-building
            Professional Schools
        %li.nav-item
          = link_to "http://penoy.admu.edu.ph/research-portal/", target: '_blank', class: "nav-link" do
            .fa.fa-link
            Research and Creative Work Portal
