.backdrop
  .carousel-caption
    %center
      %h3
        Office of the Associate Dean for Research and Creative Work
.padding
.container-fluid
  .row
    .col-md-8
      %h1
        About Us
      %hr
      %p
        The Office of the Associate Dean for Research and Creative Work (OADRCW) was established in 2009 under the Office of the Vice President of the Loyola Schools. Its main responsibility is the promotion of research and creative work, scholarly publications, and linkages pertaining to scholarly work. It is dedicated to supporting faculty members, students and staff in their scholarly work pursuits and activities.
      %p
        The OADRCW supports the following vision and goals on research and creative work of the Loyola Schools:
      %h5
        Vision: 
      %p
        Scholarly work in the Loyola Schools generates and communicates new knowledge, understanding, perspectives, forms and expressions. Our body of work should influence or inform policy, mndsets, and identity, and/or contribute to the advancement of the field.
      %h5
        Goal: 
      %p
        In the Loyola Schools, we generate research and innovation that contributes to the nation’s development and makes a difference in the lives of the marginalized
    .col-md-4
      %h4
        CONTACT US

      .card
        .card-body
          %strong
            Office of the Associate Dean for Research and Creative Work
          %br
          %small.text-muted
            Room 307, Faber Hall
            %br
            Ateneo de Manila University
            %br
            Loyola Heights, Quezon City, Philippines
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                  = link_to "mailto:oadrcw.ls@ateneo.edu" do
                    oadrcw.ls@ateneo.edu
              .col-md-6
                .fa.fa-phone
                  426-5663 

      %br
      .card
        .card-body
          %center
            = image_tag "urc_council/delas_penas.jpg", class: "rounded-circle", width: 100
            %br
            %strong
              Ma. Louise Antonette N. De las Peñas, PhD
          %br
          %small.text-muted
            Associate Dean for Research and Creative Work
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                = link_to "mailto:mdelaspenas@ateneo.edu" do
                  mdelaspenas@ateneo.edu
              .col-md-6
                .fa.fa-phone
                426-6001 local 5047

      %br
      .card
        .card-body
          %center
            = image_tag "orcw_staff/andres.jpg", class: "rounded-circle"
            %br
            %strong
              Djoanna Paula C. Andres
            %br
            %small.text-muted
              Office Staff
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                = link_to "mailto:dandres@ateneo.edu" do
                  dandres@ateneo.edu
              .col-md-6
                .fa.fa-phone
                426-6001 local 5046

      %br
      .card
        .card-body
          %center
            = image_tag "orcw_staff/valencia.jpg", class: "rounded-circle"
            %br
            %strong
              Pia-Louise I. Valencia
            %br
            %small.text-muted
              Office Staff
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                = link_to "mailto:pvalencia@ateneo.edu" do
                  pvalencia@ateneo.edu
              .col-md-6
                .fa.fa-phone
                426-6001 local 5049

      %br
      .card
        .card-body
          %center
            = image_tag "orcw_staff/bondoc.jpg", class: "rounded-circle"
            %br
            %strong
              Josef Ian T. Bondoc
            %br
            %small.text-muted
              Office Staff
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                = link_to "mailto:jibondoc@ateneo.edu" do
                  jibondoc@ateneo.edu
              .col-md-6
                .fa.fa-phone
                426-6001 local 5049

      %br
      .card
        .card-body
          %center
            = image_tag "orcw_staff/javier.jpg", class: "rounded-circle"
            %br
            %strong
              Jasmine P. Javier
            %br
            %small.text-muted
              Office Staff
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                = link_to "mailto:jjavier@ateneo.edu" do
                  jjavier@ateneo.edu
              .col-md-6
                .fa.fa-phone
                426-6001 local 5049

