.backdrop
  .carousel-caption
    %center
      %h1
        University Research Ethics Office
.padding
.container-fluid
  .row
    .col-md-8
      %h2
        About
      %hr
      %p
        The University Research Ethics Office (UREO) was created by the Office of the President in June 2015 and is mandated to implement the policies of the University Research Council (URC) in matters pertaining to research ethics. It also serves as the administrative office that supports the University Research Ethics Committee (UREC).  
      %p
        The UREC reviews and evaluates research studies involving human participants that are conducted by faculty, staff, and students under the auspices of the Ateneo de Manila University. The UREC ensures that the research is conducted in a humane and ethical manner, and complies with national, international, and institutional principles and guidelines on ethical behavior towards human research participants.
      %hr
      %h4
        AdMUREC Forms
      %hr
      %ul
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_1_Application_for_Initial_Ethics_Clearance_Oct2018.docx"), target: '_blank' do
            AdMUREC Form 1: Application for Initial Ethics Clearance
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_2_Submission_Checklist_Acknowledgment_Aug2018.docx"), target: '_blank' do
            AdMUREC Form 2: Submission Checklist Acknowledgment
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_4_Validation_of_Exemption_from_Review_Jan2018.docx"), target: '_blank' do
            AdMUREC Form 4: Validation of Exemption from Ethics Review
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_5_Research_Protocol_Amendment_Form_Feb2017.docx"), target: '_blank' do
            AdMUREC Form 5: Research Protocol Amendment Form
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_6_Continuing_Review_Application_Feb2017.docx"), target: '_blank' do
            AdMUREC Form 6: Continuing Review Application Form
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_8_Unanticipated_Problem_or_Adverse_Event_Report_Form_Feb2017.docx"), target: '_blank' do
            AdMUREC Form 8: Unanticipated Problem or Adverse Event Report Form
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_9_Progress_Report Form_Feb2017.docx"), target: '_blank' do
            AdMUREC Form 9: Progress Report Form
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_10_Early_Termination_Report_Form_Feb2017.docx"), target: '_blank' do
            AdMUREC Form 10: Early Termination Report Form
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_11_Final_Report_Form_Feb2017.docx"), target: '_blank' do
            AdMUREC Form 11: Final Report Form
        %li
          = link_to download_file_path(file: "admurec/forms/AdMUREC_12_Student_Application_for_Ethics_Clearance_Sep2018.docx"), target: '_blank' do
            AdMUREC Form 12: Undergraduate Students Application for Ethics Clearance
      %hr
      %h4
        AdMUREC Guidelines
      %hr
      %ul
        %li
          = link_to download_file_path(file: "admurec/guidelines/AdMU Code of Ethics in Research.pdf"), target: '_blank' do
            AdMU Code of Ethics in Research
        %li
          = link_to download_file_path(file: "admurec/guidelines/Flowchart 1 - Initial Application.pdf"), target: '_blank' do
            Flowchart 1 Initial Application
        %li
          = link_to download_file_path(file: "admurec/guidelines/Flowchart 2 - Undergraduate Student Activities.pdf"), target: '_blank' do
            Flowchart 2 Student Activities
        %li
          = link_to download_file_path(file: "admurec/guidelines/Guidance Note on Exclusions and Exemptions_Oct2016.pdf"), target: '_blank' do
            Guidance Note on Exemption from Ethics Review
        %li
          = link_to download_file_path(file: "admurec/guidelines/Informed Consent Form Template_10Feb2017.docx"), target: '_blank' do
            Informed Consent Form Template

    .col-md-4
      %h4
        CONTACT US

      .card
        .card-body
          %strong
            University Research Ethics Office
          %br
          %small.text-muted
            Room 204 Xavier Hall
            %br
            Ateneo de Manila University
            %br
            Loyola Heights, Quezon City, Philippines
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                  = link_to "mailto:univresearchethics@ateneo.edu" do
                    univresearchethics@ateneo.edu
              .col-md-6
                .fa.fa-phone
                  426-6001 local 5049
      %hr
      .card
        .card-body
          %strong
            Liane Peña Alampay, PhD
          %br
          %small.text-muted
            Director
          %hr
          %small

      %hr
      .card
        .card-body
          %strong
            Camille Aspillera
          %br
          %small.text-muted
            Administrative Assistant of UREO
          %hr
          %small
            .row
              .col-md-6
              .col-md-6
                .fa.fa-phone
                  426 6001 local 4030 or 4032
.padding
