.backdrop
  .carousel-caption
    %center
      %h1
        University Research Council
.padding
.container-fluid
  .row
    .col-md-8
      %h1
        University Research Council (URC)
      %hr
      %p
        The University Research Council (URC) under the Office of the President takes on the vital
        functions needed to advance research excellence in the University. It is in charge of setting
        direction, policy, strategy and review of research.
      %h5
        The Council performs the following functions
      %ul.norm
        %li
          Serves in an advisory role to the University President
        %li
          Recommends research policies and priorities that advance research in the University
        %li
          Evaluates and reviews proposals and grant applications funded by the University
        %li
          Recognizes research excellence among the faculty and staff of the University
      %p
        The Office of the Associate Dean for Research and Creative Work provides the administrative support to the work of the University Research Council.

      %h5
        Members of the University Research Council (URC)
      %hr
      .row
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/aguilar.jpg", class: "img-thumbnail" 
            %h6
              Filomeno V Aguilar Jr PhD (Chair)
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/baquiran.jpg", class: "img-thumbnail" 
            %h6
              Raymundo S Baquiran MD
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/cornelio.jpg", class: "img-thumbnail" 
            %h6
              Jayeel S Cornelio PhD
      %br
      .row
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/coroza.jpg", class: "img-thumbnail" 
            %h6
              Michael M Coroza PhD
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/enriquez.jpg", class: "img-thumbnail" 
            %h6
              Erwin P Enriquez PhD
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/amparita.jpg", class: "img-thumbnail" 
            %h6
              Atty Amparita S Sta Maria
      %br
      .row
        .col-md-6.col-xs-12
          %center
            = image_tag "urc_council/vilches.jpg", class: "img-thumbnail" 
            %h6
              Maria Luz C Vilches PhD 
              %br
              (Vice President Loyola Schools) 
              .text-muted
                ex-officio
        .col-md-6.col-xs-12
          %center
            = image_tag "urc_council/delas_penas.jpg", class: "img-thumbnail" 
            %h6
              Ma Louise Antonette N de las Peñas PhD
              %br
              (Associate Dean Research and Creative Work) 
              .text-muted
                ex-officio
      %br
      .row
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/vergara.png", class: "img-thumbnail" 
            %h6
              John Paul C Vergara PhD 
              %br
              (Vice President Professional Schools) 
              .text-muted
                ex-officio
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/hofilena.png", class: "img-thumbnail" 
            %h6
              Atty Jaime G Hofileña
              %br
              (Vice President Social Development) 
              .text-muted
                ex-officio
        .col-md-4.col-xs-12
          %center
            = image_tag "urc_council/tolentino.jpg", class: "img-thumbnail" 
            %h6
              Pilar U Tolentino
    .col-md-4
      %h4
        CONTACT US

      .card
        .card-body
          %center
            = image_tag "orcw_staff/bondoc.jpg", class: "rounded-circle"
            %br
            %strong
              Josef Ian T. Bondoc
            %br
            %small.text-muted
              Office Staff, Office of the Associate Dean for Research and Creative Work
          %hr
          %small
            .row
              .col-md-6
                .fa.fa-envelope
                  = link_to "mailto:jibondoc@ateneo.edu" do
                    jibondoc@ateneo.edu
              .col-md-6
                .fa.fa-phone
                  426-6001 local 5049
.padding
