<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">
    <%= site_bar -%>
    <%= render partial: "shared/nav" %>
    <%= render partial: "shared/modal_loyola_schools" %>
    <%= render partial: "shared/modal_about" %>
    <%= yield %>
  </body>
</html>
